{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet/less" type="text/css" href="{% static "less/theme.less" %}" />

<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.6.2/less.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>

<title>{% block title %}{% endblock %}</title>

{% block extra_head %}
{% endblock %}
</head>

<body>
{% block content %}
{% endblock %}
</body>

</html>