{% load staticfiles %}
<html>
<head>
<title>View Task</title>
<link rel="shortcut icon" href="../favicon.ico"> 
<script src="{% static 'js/jquery-1.10.2.min.js' %}" ></script>
<script src="{% static '/js/chart.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/slider.css' %}" />
<script src="{% static 'js/modernizr.custom.js' %}" ></script>

<script src="{% static 'js/bootstrap-slider.js' %}" ></script>
<script src="{% static 'js/jquery-1.10.2.min.js' %}" ></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

<script type="text/javascript">
function completeTask() {
    var url = "/completetask?task=" + "{{ task.id }}";
    alert(url)
    $.get(url);
}

function addLink() {
    var url = '/addlink?task={{ task.id }}&name=' + $('[name="name"]').val()
                                                  + '&url=' + $('[name="url"]').val();
    $.get(url)
    setTimeout(function(){location.reload()}, 300);
}
</script>

</head>

<body>
<h2 style="text-align:center;font-size:72;color:#fff;">Task: {{ task.description }}</h2>
<br />
<br />
<br />
<center>
<p style="font-size:42;display:inline;text-align:center;">Importance:
{% for i in iterate_importance %}
<img src="{% static 'images/ratingCircle.png' %}" style="width:40px;">
{% endfor %}
</p>
<br />
<br />
<p style="font-size:42;display:inline;text-align:center;"> Difficulty: 
{% for i in iterate_difficulty %}
<img src="{% static 'images/ratingCircleGreen.png' %}" style="width:40px;">
{% endfor %}
</p>
</center>

<br />
{% for link in links %}
    <h4 style="text-align:center;">{{ link.name }}</h4>
    <a href="{{ link.url }}">{{ link.url }}</a> <br /><br />
{% endfor %}
<div style="text-align:center;">
<h4 style="font-size:30;color:#fff;"> Add Link</h4>
<form id = "myForm" method="post" class="form-1" style="width:500px;text-align:center;">
<input placeholder="Title" type="text" name="name"></input><br />
<input placeholder="URL" type="text" width="200" name="url"></input><br />
<a href="javascript:addLink()"style="font-size:30;">Add</a>
<br />


<a href="/projects/view/{{ task.project.slug }}"style="font-size:30;">Back to Project</a> <br /><br />
<section  id="btn-click">
<button href="javascript:completeTask()"style="font-size:50;">Complete Task</button>
</section>
</div>
</body>
</html>