{% load staticfiles %}
<html>
<head>
<title>View Task</title>
<link rel="shortcut icon" href="../favicon.ico"> 
<script src="{% static 'js/jquery-1.10.2.min.js' %}" ></script>
<script src="{% static '/js/chart.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'grayscale/css/default2.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'grayscale/css/component2.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/slider.css' %}" />
<script src="{% static 'js/modernizr.custom.js' %}" ></script>

<script src="{% static 'js/bootstrap-slider.js' %}" ></script>
<script src="{% static 'js/jquery-1.10.2.min.js' %}" ></script>

<script type="text/javascript">
function completeTask() {
	var url = '/completetask?task=' + "{{ task.id }}"
	$.get(url)
	window.location = '/projects/view/{{ task.project.slug }}'
}

function addLink() {
    var url = '/addlink?task={{ task.id }}&name=' + $('[name="name"]').val()
                                                  + '&url=' + $('[name="url"]').val();
    $.get(url)
    setTimeout(function(){location.reload()}, 300);
}
</script>

</head>

<body>
<div class="col-sm-offset-2 col-sm-8">
<h2 style="text-align:left;font-size:72;color:#fff;">Task: {{ task.description }}</h2>
<br />
<br />
<br />
<p style="font-size:42;display:inline;text-align:left;">Importance:
{% for i in iterate_importance %}
<img src="{% static 'images/ratingCircle.png' %}" style="width:40px;">
{% endfor %}
</p>
<br />
<br />
<p style="font-size:42;display:inline;text-align:left;"> Difficulty: 
{% for i in iterate_difficulty %}
<img src="{% static 'images/ratingCircleGreen.png' %}" style="width:40px;">
{% endfor %}
</p>
<br />
<br />
<br />
<br />
{% for link in links %}
    <h4 style="font-size:30;display:inline;color:#fff;">{{ link.name }}</h4> <br />
    <a href="{{ link.url }}" style="font-size:20;display:inline;color:#fff;">{{ link.url }}</a> <br /><br />
{% endfor %}
<div style="text-align:center;">
<form id = "myForm" method="post" class="form-1" style="width:800px;text-align:center;">
<a href="javascript:addLink()"style="font-size:30;">Add Link</a>
<input placeholder="Title" type="text" name="name" ></input><br />
<input placeholder="URL" type="text" width="200" name="url"></input><br />
<br />

<a href="/projects/view/{{ task.project.slug }}"style="font-size:24;">Back to Project</a> <br /><br />
</form>
<button class="btn btn-1 btn-1g" style="font-size:20px;" onclick="javascript:completeTask()">Complete Task</button>
</div>
</div>
</body>
