{% extends "accomplist/base.html" %}
{% load staticfiles %}
<!DOCTYPE html>
{% block title %}View Project{% endblock %}
{% block content %}

<html>
<head>
<title>View Project</title>
<link rel="shortcut icon" href="../favicon.ico"> 
<script src="{% static 'js/jquery-1.10.2.min.js' %}" ></script>
<script src="{% static '/js/chart.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/slider.css' %}" />
<script src="{% static 'js/modernizr.custom.js' %}" ></script>

<script src="{% static 'js/bootstrap-slider.js' %}" ></script>
<script type="text/javascript">
function addTask() {
	$url = "/projects/addtask/?description=" + $('#description').val() + "&difficulty=" 
		                                  +$('[name="difficulty"]').val() + "&importance=" + $('[name="importance"]' ).val()
		                                  + "&project=" + "{{ project.slug }}";	                            
	$.get($url);
    setTimeout(function() {updateTasks()}, 500);
}
function updateTasks() {
	var complete = [];
	var incomplete = [];
	var data = $.getJSON("/projects/gettasks/?project=" + "{{ project.slug }}", function(json) {
		$.each(json, function(i, task) {
			if (task.fields.completed_by != null){
				complete.push(task);
			}
			else{
				incomplete.push(task);
			}
		});

		$("#toDo").empty();
		for (var i = 0; i < incomplete.length; i++) {
			var description = incomplete[i].fields.description;
			var pk = incomplete[i].pk;
			$("<p>" + "<a href='/task/"+  pk + "'>" + description +  "</a>" + "</p>").appendTo("#toDo");
		}
		$("#completed").empty();
		for (var i = 0; i < complete.length; i++) {
            var description = complete[i].fields.description;
			var pk = complete[i].pk;
			$("<p>" + "<a href='/task/"+  pk + "'>" + description +  "</a>" + "</p>").appendTo("#completed");
		}
	});
}
</script>
</head>
<body onload="updateTasks()">
<a href="../create"><img src="{% static 'images/darkback.png' %}"style="position: relative;width: 50px;left:100px;top:50px;"></a>

<div class="md-modal md-effect-11" id="modal-11">
	<div class="md-content">
		<h3>Add Task</h3>
		<div>
			<p style="text-align:center;">Add a task in the space below</p>
				<p style="font-size:20px;color:#ffff;text-align:center;"> Description &nbsp;
   				 <textarea name="Text1" cols="40" rows="5" type="text" id="description" name="description" style="color:#000;height:90px;"></textarea>
   				 <br />
				<p style="font-size:18px;color:#ffff;text-align:center;"> Difficulty &nbsp;
   				 <input id="ex1" name="difficulty" data-slider-id='ex1Slider' type="text" data-slider-min="1" value="4" data-slider-max="4" data-slider-step="1" data-slider-value="14"/>
				<br />
				<p style="font-size:18px;color:#ffff;text-align:center;"> Importance &nbsp;
   				 <input id="ex2" data-slider-id='ex1Slider' name="importance" type="text" data-slider-min="1" value="4" data-slider-max="4" data-slider-step="1" data-slider-value="14"/>
   				<br />
   				<br />

			<button onclick="addTask();updateTasks()" class="btn btn-1w btn-1w md-close" type="submit">Submit</button>
		</div>
	</div>
</div>
<div style="text-align:center;">
<h1 style="text-transform:uppercase;font-size:94px;">{{ project.name }}</h1>
<button class="btn btn-1r btn-1r md-trigger"  data-modal="modal-11">Add Task</button>
<br/>
<br/>
<div id="green">
<div class="container">
<div class="row">
<center>
<p style="font-weight:regular;color:#fff;font-size:30px;text-align:center;">Leaderboards:
<h2>
<b style="font-weight:regular;color:rgb({{currentUserScore.0.color.r}},{{currentUserScore.0.color.g}},{{currentUserScore.0.color.b}});font-size:40px;display:inline;text-align:center;"><u>
{{ currentUserScore.0.user.username}}</u>&nbsp;&nbsp;&nbsp;&nbsp; {{ currentUserScore.1}}&nbsp;&nbsp;&nbsp;&nbsp;</b>
{% for score in sortedScores %}
<b style="color:rgb({{score.0.color.r}},{{score.0.color.g}},{{score.0.color.b}});">
{{ score.0.user.username}}&nbsp;&nbsp;&nbsp;&nbsp;{{ score.1 }}
</b>
&nbsp;&nbsp;&nbsp;&nbsp;
{% endfor %}
</p>
</center>
</b>
</h2>
</div>
</div>
</div>
</div>
<div class="col-sm-offset-2 col-sm-4" style="font-size:64px;top:50px;">
    <p>To Do</p>

    <img src="{% static 'images/darkUnderline.png' %}"style="position: relative;width:500px;height:20px;">

    <div id = "toDo" style="font-size:25px;display:inline;text-align:left;"></div>
</div>

<div class="col-sm-4" style="font-size:64px;top:12px;">
<p style="text-align:right;display:inline;">Completed</p>
<img src="{% static 'images/darkUnderline.png' %}"style="position: relative;width:500px;height:20px;">
	<div id = "completed" style="font-size:25px;display:inline;text-align:left;"></div>
</div>

<div class="md-overlay"></div><!-- the overlay element -->

		<!-- classie.js by @desandro: https://github.com/desandro/classie -->
		<script src="{% static 'js/classie.js' %}"></script>
		<script src="{% static 'js/modalEffects.js' %}"></script>

		<!-- for the blur effect -->
		<!-- by @derSchepp https://github.com/Schepp/CSS-Filters-Polyfill -->
		<script>
			// this is important for IEs
			var polyfilter_scriptpath = '/js/';
		</script>
		<script src="{% static 'js/cssParser.js' %}"></script>
		<script src="{% static 'js/css-filters-polyfill.js' %}"></script>
</body>
<script type="text/javascript">

  $('#ex1').slider({
	formater: function(value) {
		return value;
	}
});
$('#ex2').slider({
	formater: function(value) {
		return value;
	}
});
</script>
</html>

{% endblock %}
